.place__title {
    margin: 0;
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    align-self: end;
    grid-column: 1/2;
    grid-row: 1/2;
    max-width: 440px;
    padding-bottom: 20px;
}

@media screen and (max-width: 1023px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (max-width: 768px) and (min-width: 425px) {
    .place__title {
        max-width: 330px;
    }
}

@media screen and (max-width: 767px) {
    .place__title{
        width: calc(100% - 2*16px);
        margin: 0 auto;
        grid-area: title;
        font-size: 32px;
        line-height: 35px;
        max-width: none;
    }    
}

@media screen and (max-width: 425px) {
    .place__title {
        padding-bottom: 4px;
    }    
}

@media screen and (min-width: 1280px) {
    .place__title {
        padding-bottom: 0;
    }    
}