.places {
    margin: 0 auto;
    max-width: 984px;
    width: calc(100% - 2*148px);
    padding-bottom: 109px;
}

@media screen and (max-width: 1279px) and (min-width: 1024px) {
    .places {
        width: calc(100% - 2*48px);
        padding-bottom: 92px;
    }    
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .places {
        width: calc(100% - 2*24px);
        gap: 0;
        padding-bottom: 90px;
    }    
}

@media screen and (max-width: 767px) {
    .places {
        width: 100vw;
        padding-bottom: 68px;
    }    
}