.place {
    display: grid;
    grid-template-columns: 2, 1fr;
    grid-template-rows: 1fr;
    gap: 48px 34px;
}

@media screen and (min-width: 1024px) {
    .place {
        padding-bottom: 80px;
    }
}

@media screen and (min-width: 1024px) {
    .place:last-child {
        padding-bottom: 0;
    }
}

@media screen and (max-width: 1023px) and (min-width: 425px) {
    .place {
        padding-bottom: 72px;
        gap: 28px;
    }
}

@media screen and (max-width: 768px) and (min-width: 425px) {
    .place:last-child {
        padding-bottom: 0;
    }
}

@media screen and (max-width: 767px) {
    .place {
        grid-template-columns: minmax(320px, 767px);
        grid-template-rows: min-content;
        grid-template-areas: 
        "title"
        "web"
        "img"
        "paragraph";
        gap: 31.2px;
        padding-bottom: 50px;
    }   
}

@media screen and (max-width: 767px) {
    .place:last-child {
        padding-bottom: 0;
    }    
}