.lead__title {
    font-size: 6rem;
    font-weight: 900;
    line-height: 100px;
    max-width: 720px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 32px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .lead__title {
        font-size: 2.5em;
        line-height: 44px;
        max-width: 288px;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 16px;
    }
    
}