.footer__link-wrapper {
    padding-right: 18px;
}

.footer__link-wrapper:last-child {
    margin-right: 0;
}

@media screen and (max-width: 767px) {
    .footer__link-wrapper {
        margin: 0 0 32px;
    }    
}

@media screen and (max-width: 767px) {
    .footer__link-wrapper:last-child {
        margin: 0;
    }    
}