.place__link {
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: white;
    width: fit-content;
}

.place__link:hover {
    opacity: .8;
}

.place__link:active {
    border: none;
}