.lead__capion {
    margin: 0 auto;
    font-size: 10px;
    line-height: 14px;
    font-weight: 400;
    letter-spacing: 2.3px;
    text-align: start;
}

@media screen and (max-width: 1024px) and (min-width: 425px) {
    .lead__capion {
        width: calc(100% - 2*24px);
    }    
}



@media screen and (max-width: 425px) {
    .lead__capion {
        width: calc(100% - 2*16px);
    }    
}
