.place__website {
    max-height: 46px;
    display: grid;
    gap: 12px;
    align-self: end;
    grid-column: 2/3;
    padding-bottom: 20px;
}

@media screen and (max-width: 767px) {
    .place__website {
        width: calc(100% - 2*16px);
        margin: 0 auto;
        grid-area: web;
    }    
}

@media screen and (max-width: 425px) {
    .place__website {
        padding-bottom: 4px;
    }    
}

@media screen and (min-width: 1280px) {
    .place__website {
        padding-bottom: 0;
    }
}